.all__videos {
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    margin: -2rem auto 3rem;
    padding: 1rem 2rem;
    border: 1px solid black;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.all__videos:hover {
    background-color: black;
    color: white;
    border: 5px solid white;
}


figcaption {
    text-transform: uppercase;
    color: $navFontColor;
    position: relative;
    bottom: 5rem;
    font-size: 2rem;
    width: 30vw;
    margin-left: 1rem;
}

figure img {
    margin-top: -40px;
}

.loopstudio {

    &__purpose article {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
        line-height: 2;
        padding: 0 2rem;

        h2 {
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
    }


    &__content__videos {
        margin: 0 2rem;
     }


     &__purpose img {
       padding: 2rem 2rem;
    }



    &__content__head {

        h2 {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 5rem;
        }

        a {
            display: none;
        }
    } 
}



@media only screen and (min-width: 600px) {

    .loopstudio {
        &__content {

            &__videos {
                display: grid;
                grid-template-columns: repeat(auto-fill, 250px);
                grid-template-rows: auto-flow;
                gap: 15px;
                justify-content: center;
            }
            
            &__mobile {
                display: none;
            }
        }



        &__content__head {
            padding: 0 8rem;
            margin-bottom: 2rem;
            display: flex;
            justify-content: space-between;

            a {
                display: block;
                height: max-content;
                align-self: center;
                margin-right: -1rem;

            }
        } 

       
        &__purpose {
            
            padding-left: 3rem;
            padding-right: 3rem;
            padding-top: 1rem;
            margin-bottom: 4rem;

            article {
                width: 70vw;
                margin: 0 auto;
                padding-left: 3rem;
                padding-top: 1rem;


                h2 {
                    margin-bottom: 1rem;
                }
            }
           
        }
    }
}


@media only screen and (min-width: 960px) {
    .loopstudio {
        &__purpose{
           
            display: flex;
            padding: 3rem 5rem;

            img {
                width: 50vw;
            }
           
            article {
                text-align: left;
                width: 45vw;
                align-self: center;
                position: relative;
                right: 7rem;
                background-color: white;
                z-index: 3;
                top: 6rem;
                padding-left: 3rem;
                padding-top: 1rem;


                h2 {
                    margin-bottom: 1rem;
                }
            }

           
        }
    }
}


@media only screen and (max-width: 600px) {
    [alt="pocket borealis"] {
        margin-top: -5rem;
    }
}
