

@media only screen and (max-width: 600px) {
    .nav__mobile {
        padding: 1rem 2rem 5rem;
        position: fixed;
        height: 75vh;
        width: 100vw;
        background-color: $navBgColor;
        transition-duration: 5s;
        transition-timing-function: ease-in;
       
    }
    
    nav a {
        display: block;
        color: $navFontColor;
        text-decoration: none;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    
    }
    
    .nav__header img {
        display: block;
    }
    
    .nav__header {
        padding: 1rem;
    }
    
    .nav__mobile__header,
    .nav__header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 5rem;
    }
    
    
    
    .hide {
        display: none;
    }
    
    
}

@media only screen and (min-width: 600px) {
    .nav {
        li {
            display: inline-block;
            color: white;
            margin-left: 1rem;
        }
    
        a {
            color: white;
            text-decoration: none;
        }
    }
    
    .nav__mobile {
        display: flex;
        justify-content: space-between;
        padding: 2rem 2rem ;
    
        ul {
            align-self: center;
        }
    }
    
    .nav__header,
    .close__btn {
        display: none;
    }
    
}
